<%= form_for @gif do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :tags %><br />
    <%= f.text_field :tags, :value => @gif.tags.join(", ") %>
  </p>
  <p>
    <%= f.label :nsfw %><br />
    <%= f.check_box :nsfw %>
  </p>
  <p><%= f.submit %></p>
<% end %>
