- title "Gifs"

#gifstrip
  -for gif in @gifs
    = image_tag gif.url


%table
  %tr
    %th Name
    %th Tags
    %th NSFW
    %th Tools
  -for gif in @gifs
    %tr
      %td= link_to gif.name, gif.url
      %td= gif.tags.join(', ')
      %td= 'NSFW' if gif.nsfw
      %td= link_to "Show", gif
      %td= link_to "Edit", edit_gif_path(gif)
      %td= link_to "Destroy", gif, :confirm => 'Are you sure?', :method => :delete

%p
  %b= link_to "New Gif", new_gif_path
