
#gifstrip
  -@gifs.shuffle[0..9].each do |gif|
    = image_tag gif.url


#tagcloud
  %b Top tags:
  -tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class|
    - if tag.count > 1
      %span{:class => css_class}= link_to tag.name, "tag/#{tag.name}"

%table
  %tr
    %th Name
    %th Tags
    %th NSFW
    %th Tools
  -for gif in @gifs
    %tr
      %td= link_to gif.name, gif.url
      %td= gif.tags.join(', ')
      %td= 'NSFW' if gif.nsfw
      %td= link_to "Show", gif
      %td= link_to "Edit", edit_gif_path(gif)
      %td= link_to "Destroy", gif, :confirm => 'Are you sure?', :method => :delete

%p
  %b= link_to "New Gif", new_gif_path
  %b= link_to "Import Gifs", "/gifs/import"
  %b= link_to "Batch Edit", "/gifs/batch_edit"
