- is_production = ENV['RAILS_ENV'] == 'production'


%h1
  =link_to "GifURL", '/'
  \--
  = ["fight with tools", "your browser hates this page", "it's pretty good", "not bad", "it could be worse",
     "#{image_tag 'http://i.imgur.com/Uke4W.jpg', :width => '50px', :height => '50px'} &nbsp;y u no use url?",
     "write your congressman"].shuffle.first.html_safe

%h2 Usage:

-##preview I'm spongebob

%h3= gifurl :tags => ['popcorn']
%h3= gifurl :tags => ['popcorn'], :offset => 3
%h3= gifurl :tags => ['popcorn', 'spongebob']



%h2
  = "#{["Shmow-zow! More than", "Cool, something like", "Holy simoleons,", "Probably"].shuffle.first} #{@impressions} jumps served!" if @impressions

#gifstrip
  -@gifs.shuffle[0..9].each do |gif|
    = link_to image_tag(gif.url, :alt => gif.name, :title => gif.name), gif.url

#tagcloud
  %b Top tags:
  -tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class|
    - if tag.count > 1
      %span{:class => css_class}= link_to tag.name, "tag/#{tag.name}"

%table
  %tr
    %th Name
    %th Tags
    %th= "Tools" unless is_production
  -for gif in @gifs
    %tr
      %td= link_to gif.name, gif.url
      %td= gif.tags.join(', ')
      -unless is_production
        %td= link_to "Show", gif
        %td= link_to "Edit", edit_gif_path(gif)
        %td= link_to "Destroy", gif, :confirm => 'Are you sure?', :method => :delete

%p
  -unless is_production
    %b= link_to "New Gif", new_gif_path
    %b= link_to "Import Gifs", "/gifs/import"
    %b= link_to "Batch Edit", "/gifs/batch_edit"
