<% title "Gif" %>

<p>
  <strong>Name:</strong>
  <%= @gif.name %>
</p>
<p>
  <strong>Url:</strong>
  <%= @gif.url %>
</p>
<p>
  <strong>Nsfw:</strong>
  <%= @gif.nsfw %>
</p>

<p>
  <%= link_to "Edit", edit_gif_path(@gif) %> |
  <%= link_to "Destroy", @gif, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", gifs_path %>
</p>
