-title "Gif of #{@gif.name}"

#right= image_tag @gif.url

%p
  %strong Name:
  = @gif.name

%p
  %strong URL:
  = @gif.url

- if @gif.nsfw
  %p
    %strong Nsfw:
    = @gif.nsfw
- else
  SFW

%p
  %b Tagged with:
  = @gif.tag_list
  -#- @gif.tags.each do |tag|
  -#  %span= tag


%p
  = link_to "Back to all gifs", gifs_path
